* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;
}
.header__top {
  background-color: black;
  margin: 0;
  padding: 0;
}
.header__top p {
  color: white;
  text-align: center;
  padding: 2px 0;
}
.header__icon {
  display: flex;
  align-items: center;
}
.icon {
  margin: 10px;
  font-size: 20px;
}
